.menu-box {
    margin: 30px 0 50px -10px;
}

.menu-li {
    list-style-type: none;
    float: left;
    margin-right: 38px;
    color:#fff;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;    
}

.menu-li:hover {    
    cursor: pointer;
}

.underline{
    /* text-decoration:underline; */
    border-bottom: 1px solid rgba(235, 235, 245, 0.6);
}