.response{
    background: rgba(118, 118, 128, 0.24);
    border-radius: 10px;
    border: 0px;
    height: 120px;
    width: 343px;
    color:#fff;
}

.lable{
    margin: 0px 0 5px 10px;
  }

.response{
    margin-top: 10px;
}