.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background-color: #000;
  width: 1354px;
  height: 730px;
  /* left: 43px; */
  /* top: 43px; */
  border-radius: 28px;
  color:#fff;
  /* padding: 50px; */
}

